<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FriendList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <p><big><b>Add a new friend to the list</b></big></p>
    </div>

    <form action="#" th:action="@{/adding}" th:object="${friend}" method="post">
        <table>
            <tr>
                <td>First name: <input type="text" th:field="*{firstName}" /></td>
                <td>Last name: <input type="text" th:field="*{lastName}" /></td>
                <td><input type="submit" value="Add a friend" /></td>
            </tr>
        </table>
    </form>
</body>

</html>