<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <br>
        <h2>Edit sleep details</h2>
        <br>
        <form th:object="${sleep}" th:action="@{/save}" action="#" method="post"
            class="row gy-2 gx-3 align-items-center">
            <input type="hidden" id="id" th:field="*{id}" />
            <div class="col-auto">
                <label for="dateInput" class="form-label">Date (dd.mm.yyyy):</label>
                <input type="text" th:field="*{dateInput}" class="form-control form-control" />
            </div>
            <div class="col-auto">
                <label for="sleepScore" class="form-label">Score:</label>
                <input type="text" th:field="*{sleepScore}" class="form-control form-control" />
            </div>
            <div class="col-auto">
                <label for="sleepTimeHours" class="form-label">Sleep time hours:</label>
                <input type="text" th:field="*{sleepTimeHours}" class="form-control form-control" />
            </div>
            <div class="col-auto">
                <label for="sleepCycles" class="form-label">Sleep cycles:</label>
                <input type="text" th:field="*{sleepCycles}" class="form-control form-control" />
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-success btn-sm"></input>
                or return to the <a href="/main" button type="button" class="btn btn-light btn-sm">main page</a>
            </div>
        </form>
    </div>

</body>

</html>