<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container mt-5">
        <h2>Edit Sleep Data</h2><br>
        <form th:object="${sleep}" th:action="@{/save}" method="post" class="row g-3">

            <input type="hidden" th:field="*{id}" />

            <!-- Select user for ADMIN) -->
            <div class="col-auto" sec:authorize="hasAuthority('ADMIN')">
                <label for="selectedUsername" class="form-label">Select User:</label>
                <select id="selectedUsername" name="selectedUsername" class="form-select">
                    <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"
                        th:selected="${user.username == sleep.appUser.username}"></option>
                </select>
            </div>

            <!-- Showing username for USER -->
            <div class="col-auto" sec:authorize="hasAuthority('USER')">
                <label for="user" class="form-label">User:</label>
                <div class="col-auto" style="padding: 6px;">
                    <span type="text" th:text="${sleep.appUser.username}"></span>
                    <input type="hidden" id="user" name="selectedUsername" th:value="${sleep.appUser.username}" />
                </div>
            </div>



            <div class="col-auto">
                <label for="dateInput" class="form-label">Date (dd.mm.yyyy):</label>
                <input type="text" th:field="*{dateInput}" class="form-control" />
            </div>

            <div class="col-auto">
                <label for="sleepScore" class="form-label">Score:</label>
                <input type="text" th:field="*{sleepScore}" class="form-control" />
            </div>

            <div class="col-auto">
                <label for="sleepTimeHours" class="form-label">Sleep Time Hours:</label>
                <input type="text" th:field="*{sleepTimeHours}" class="form-control" />
            </div>

            <div class="col-auto">
                <label for="sleepCycles" class="form-label">Sleep Cycles:</label>
                <input type="text" th:field="*{sleepCycles}" class="form-control" />
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-success btn-sm"></input>
                or return to the <a href="/main" button type="button" class="btn btn-light btn-sm">main page</a>
            </div>
        </form>
    </div>

</body>

</html>